
.header_links {
  font-family: Times;
  font-style: italic;
  font-size: 1em;
  display: inline-block;
  margin-left: 100px;
  margin-top: 70px;
  vertical-align: baseline;
}

.social_media {
  display: inline-block;
  margin-left: 1250px;
}

.title {
  font-size: 4em;
  font-weight: bold;
  font-family: Helvetica;
  display: block;
  text-align: center;
  vertical-align: bottom;
  color: #CCCC66;
}

.tiles {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #313030;
  border-top: 1px solid #313030;
  padding-bottom: 40px;
  padding-top: 40px;
  line-height: 2em;
}


.blurb {
  display: inline-block;
  width: 500px;
  margin: 0px 100px 50px 50px;
  font-family: Times;
  font-size: 1em;
  line-height: 1.3;
  float: left;
  padding-top: 100px;
  padding-right: 100px;
  vertical-align: bottom;
}

.write {
  font-family: Times;
  font-style: italic;
  font-size: 1.3em;
  text-align: center;
  display: block;
  padding-top: 70px;
}

.hello {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 5em;
  color: #CCCC66;
}


.pic {
  display: inline-block;
  margin: 0px 50px 50px 50px;
  float: right;
}