/*
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Open Sans', sans-serif;
*/

html, body {
  height: 100%;
}

.header_links {
  font-family: 'Permanent Marker', cursive;
  font-style: italic, #373D3C;
  font-size: .8em;
  float: left;
  margin-left: 2%;
  vertical-align: baseline;
}

/* unvisited link */
a:link {
    color: #373D3C;
}

/* visited link */
a:visited {
    color: #373D3C;
}

/* mouse over link */
a:hover {
    color: #00D4C0;
}


.social_media {
  float: right;
  margin-right: 5%;
}


.title {
  font-family: 'Rock Salt', cursive;
  font-size: 5em;
  font-weight: bold;
  display: block;
  text-align: center;
  vertical-align: bottom;
  color: #CFBA7D;
  padding-top: 4%;
}

article {
  overflow: hidden;
  margin: 60px;
  width: 70%;
  float: right;
  display: inline-block;
  position: relative;
}

h2{
  font-family: 'Permanent Marker', cursive;
  font-style: #373D3C;
  line-height: 1.3em;
  display: inline-block;
  position: relative;
  width: 40%;
  vertical-align: top;
}

.summary{
  font-family: 'Open Sans', sans-serif;
  font-style: #373D3C;
  line-height: 1.3em;
  display: inline-block;
  position: absolute;
  width: 40%;
  vertical-align: top;
  margin-right: 5%;
  margin-left: 5%
}

.pics{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: right;
  font-family: Helvetica;
  float: right;
  margin-right: 5%;
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {margin-bottom: 0;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}


.sidepanel{
  width: 15%;
  float: left;
  margin-left: 2%;
  display: inline-block;
}

.write {
  font-family: 'Rock Salt', cursive;
  font-style: italic, #373D3C;
  font-size: 1.3em;
  text-align: center;
  display: block;
  padding-top: 70px;
}

.hello {
  display: block;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5em;
  font-style: #00D4C0;
  vertical-align: top;
  margin-bottom: 5%;
}


.blurb {
  display: inline-block;
  margin-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  line-height: 1.3;
  vertical-align: top;
  font-style: #373D3C;
}

.twitterfeed {
  display: inline-block;
}

<!-- Enable media queries for old IE -->
<!--[if lt IE 9]>
   <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->