/*
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Open Sans', sans-serif;
*/

html, body {
  height: 100%;
}

.header_links {
  font-family: 'Permanent Marker', cursive;
  font-style: italic, #373D3C;
  font-size: .8em;
  float: left;
  margin-left: 2%;
  vertical-align: baseline;
}

/* unvisited link */
a:link {
    color: #373D3C;
}

/* visited link */
a:visited {
    color: #373D3C;
}

/* mouse over link */
a:hover {
    color: #00D4C0;
}

.social_media {
  float: right;
  margin-right: 5%;
}


.title {
  font-family: 'Rock Salt', cursive;
  font-size: 2.5em;
  font-weight: bold;
  display: block;
  text-align: center;
  vertical-align: bottom;
  color: #CFBA7D;
  padding-top: 6%;
  padding-bottom: 5%;
}


.everything {
  overflow: hidden;
  width: 70%;
  float: right;
  display: inline-block;
  position: relative;
}


.date {
  font-size: 1.3em;
  font-family: 'Permanent Marker', cursive;
  color: #373D3C;
}

.subtitle {
  font-size: 1.3em;
  font-family: 'Permanent Marker', cursive;
  color: #373D3C;
}

.content {
  font-family: 'Open Sans', sans-serif;
  color: #373D3C;
}

.sidepanel{
  width: 15%;
  float: left;
  margin-left: 2%;
  display: inline-block;
  margin-top: 10%;
}

.write {
  font-family: 'Rock Salt', cursive;
  font-style: italic, #373D3C;
  font-size: 1.3em;
  text-align: center;
  display: block;
  padding-top: 70px;
}

.hello {
  display: block;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5em;
  font-style: #00D4C0;
  vertical-align: top;
  margin-bottom: 5%;
}


.blurb {
  display: inline-block;
  margin-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  line-height: 1.3;
  vertical-align: top;
  font-style: #373D3C;
}

.twitterfeed {
  display: inline-block;
}

<!-- Enable media queries for old IE -->
<!--[if lt IE 9]>
   <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->