.header_links {
  font-family: Times;
  font-style: italic;
  font-size: 1.5em;
  float: left;
  margin-left: 60px;
  vertical-align: baseline;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #CCCC66;
}

.social_media {
  float: right;
  margin-right: 60px;
}


.everything {
  margin-top: 100px;
  margin-right: 300px;
  margin-bottom: 100px;
  margin-left: 300px;
  display: inline-block;
}

.title {
  font-size: 3.3em;
  font-family: Helvetica;
  font-weight: bold;
  display: block;
}
.date {
  font-size: 1.3em;
  font-family: Times;
  font-style: italic;
  color: #CCCC66;
}
.subtitle {
  font-size: 1.3em;
  font-family: Helvetica;
}
.content {
  font-family: Arial;
}