
.header_links {
  font-family: Times;
  font-size: 5em;
  display: inline-block;
}

<div class="social_media">
.social_media {
  display: inline-block;
}

<h1 class="title">


<ul class="tiles">


<div id="blurb">


<div id="hello">


<div id="pic">




Add styling to your header and footer
Style and position the content to match your wireframes
Incorporate the colors and fonts you want on your site
Format any images you've selected